/* debug per visualizzare la struttura*/
/* [class*=container]{
    min-height: 3rem;
    background-color: rgb(116, 111, 111);
    border: 1px solid red;
}
[class*=row]{
    
    background-color: rgba(255, 255, 255, 0.537);
    border: 1px solid white;
}
[class*=col]{
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
} */


/* style personale della pagina */
header{
    position: fixed;
    width: 100%;
    background-color: var(--coloreHeader);
}

header .row{
    height: var(--altezzaHeader);
}

header h3, h1{
    color: white;
    font-weight: 600;
}
header .btn-secondary{
    background-color: var(--coloreHeader);
    border: 1px solid grey;
    color: grey;
}

/* inizio main */
main{
    padding-top: var(--altezzaHeader);
}

/* prima sezione head */
.sezioneColore{
    background-color: var(--coloreMainHead);
    color: white;
}

.sezioneColore .contImmagine{
    margin-top: 2rem;
    height: 20rem;
}

.contImmagine img{
    height: 100%;
    
}

.barra{
    height: 3px;
    width: 3rem;
    
}
.fa-star{
    font-size: 2rem;
    padding: 0 0.5rem;
}
.fa-star.white{
    
    color: var(--colorStar);
}

.barra.white{
    background-color: var(--colorStar);
}


/* seconda sezione */
.fa-star.black{
    color: var(--altezzaHeader);
}
.barra.black{
    background-color: var(--coloreHeader);
}


main p{
    font-size: 1.3rem;
    color: white;
}

.secondaSezione .contImmagine{
    width: 100%;
    
}
.secondaSezione img{
    width: 100%;
    border-radius: 12px;
}

/* terza serie */
.sezioneColore.terza button{
    color: white;
    border: 1px solid white;
}


/* quarta sezione */
.sezioneQuattro h2{
    font-size: 3rem;
}
.sezioneQuattro input{
    border: none;
    border-bottom: 1px solid grey;

}

.grey{
    color: rgb(91, 91, 91);
}

.sezioneQuattro button{
    margin-top: 1rem;
}

/* inizio footer */
footer{
    width: 100%;
    background-color: var(--coloreFooter);
}