/* debug per visualizzare la struttura*/
[class*=container]{
    min-height: 3rem;
    background-color: black;
    border: 1px solid red;
}
[class*=row]{
    
    background-color: rgba(255, 255, 255, 0.537);
    border: 1px solid white;
}
[class*=col]{
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
}


/* style personale della pagina */
header{
    position: fixed;
    width: 100%;
    background-color: var(--coloreHeader);
}

header .row{
    height: var(--altezzaHeader);
}

/* inizio main */
main{
    padding-top: var(--altezzaHeader);
}

/* prima sezione head */
.sezioneColore{
    background-color: var(--coloreMainHead);
}

.sezioneUnoHead .contImmagine{
    margin-top: 2rem;
    width: 50%;
}


/* quarta sezione */
.sezioneQuattro input{
    border: none;
    border-bottom: 1px solid grey;
}

.sezioneQuattro button{
    margin-top: 1rem;
}